/*general*/
body
{
    margin: 0px;
    padding: 0px;
}
/*header*/
a .logo
{
    width:50px;
}
/*body*/
.part1
{
    background-image: url(./images/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 100%;
    min-height: 600px; 
}
.surPict h1
{
    display: inline-block;
    color: #fff;
    font-size: 80px;
    text-align: center;
}

.surPict
{
    width: 320px; 
}
.sideR
{
    height: 100%;
}
.verif
{
    max-height:100%;
    min-height:355px;
}
.Cardio-training
{
    height: 100%;
}
.presentation
{
    max-width: 500px;
    margin: auto;
}
.img1
{
    max-height: 500px;
}


.img3
{
    width: 50px;
    height: 50px;
}
.Musculation
{
    height: 100%;
}
.muscle
{
    max-height: 100%;
    background:url(./images/promuscu.jpg);
    background-attachment: fixed;
    background-position: center;
}
.muscle1
{
    height: 100%;
    background:url(./images/nutrit.jpg);
    background-attachment: fixed;
    background-position: fixed;
}
.liste
{
    font-size: 20px;
    font-weight: 700;
   max-width: 275px;
}
.liste:hover
{
    transform: scale(1.009);
    transition: 0.4s;
}
ul
{
    list-style-type: none;
}
.text
{
    font-size: 25px;
}
.muscut
{
    font-size: 30px;
}
.btn1
{
    font-size:30px;
    font-weight: 700;
}
.liste1
{
    max-width: 235px;
    height: 200px;
    font-weight: 700;
}
.liste1:hover
{
    transform: scale(0.99);
    transition: 0.4s;
}
.nutrit:hover
{
    transform: scale(1.009);
    transition: 0.4s;
}
.tab
{
    font-size: 20px;
    
}

label
{
    font-size: 20px;
}
.titreF
{
    text-decoration: underline;
}
.logo1
{
    max-width: 125px;
}
.imgf
{
    width: 70px;
}
.c1
{
    max-height: 230px;
}